label
{
    display:block;
}
form{
    text-align: center;
    background-color: rgb(196, 174, 211);
    margin: 0px 6% 0px 6%;
}
body{
    background-color: #51a5b4
}
h2{
    text-align: center;
}